1. Soru

   Kullanıcının girdiği ad, soyad ve yaş bilgilerini tutan bir dictionary oluşturunuz.

* Kullanıcının ad değerini, büyük harfler ile güncelleyiniz.
* Kullanıcının yaş değerine 2 ekleyiniz.
* Dictionary' e kullanıcının en ssevdiği engi ekleyiniz key - value şeklinde ekleyiniz.
* Kullanıcının adını ve soyadını kapsayan yeni bir key - value ekleyiniz.
* Kullanıcının ad değerini dictionary' den kaldırınız.

In [15]:
kimlik = {
    "name": "Nur",
    "surname": "AKÇAY",
    "age": 23
}

kimlik

{'name': 'Nur', 'surname': 'AKÇAY', 'age': 23}

In [ ]:
#Kullanıcının ad değerini, büyük harfler ile güncelleyiniz.

kimlik = {
    "name": "Nur"
}

for key, value in kimlik.items():
    kimlik.update({key:value.replace().upper})

kimlik

In [ ]:
#Kullanıcının yaş değerine 2 ekleyiniz.

In [16]:
#Dictionary' e kullanıcının en sevdiği rengi ekleyiniz key - value şeklinde ekleyiniz.

kimlik.update({"en sevdiğim renk":"yellow"})
kimlik

{'name': 'Nur', 'surname': 'AKÇAY', 'age': 23, 'en sevdiğim renk': 'yellow'}

In [22]:
#Kullanıcının adını ve soyadını kapsayan yeni bir key - value ekleyiniz.
kimlik["adı"] = "Ayşe"
kimlik["soyadı"] = "AKTAĞ"
kimlik

{'name': 'Nur', 'adı': 'Ayşe', 'soyadı': 'AKTAĞ'}

2. Soru

   Kullanıcının verdiği aralığa göre, key değerleri o anki sayi, value değerleri o anki sayının karesi olan bir dictionary oluşturunuz.

   Örnek olarak; kullanıcı aralık olarak 2 ve 7 girmiş olsun. Bizden beklenen dictionary şu şekilde olmalıdır.

   {2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

3. Soru
   
   Aşağıda verilen liste ile istenilen işlemleri yapınız.

   * Yaşı: 20' den büyük olanları ekrana yazdırınız.
   * Adı: 'A' ile başlayanları ekrana yazdırınız.
   * Soyadı: 'J' ile başlayanları ekrana yazdırınız.
   * Adı 'C' ile soyadı 'A' ile başlayanları ekrana yazdırınız.
   * Adının içinde 'A' harfi geçenleri ekrana yazdırınız.
   * Yaşı tek sayı olanları ekrana yazdırınız.
   * Kullanıcının yaşını, (kullanıcının yaşı + kullanıcının soyadı uzunluğu) şeklinde güncelleyiniz.
   * Kullanıcının adını ve soyadını içeren FullName adında yeni bir key - value pair oluşturunuz.

In [ ]:
myUsers = [
    {
        "Name":"Rosalind",
        "Surname": "Rich",
        "Age": 23
    }
    ,{
        "Name":"Annika",
        "Surname": "Keenan",
        "Age": 28
    }
    ,{
        "Name":"Emillie",
        "Surname": "Plummer",
        "Age": 17
    }
    ,{
        "Name":"Kourtney",
        "Surname": "Pate",
        "Age": 30
    }
    ,{
        "Name":"Virgil",
        "Surname": "Solomon",
        "Age": 40
    }
    ,{
        "Name":"Bobby",
        "Surname": "Jordan",
        "Age":33
    }
    ,{
        "Name":"Alfie",
        "Surname":"James Robson",
        "Age": 16
    } 
    ,{
        "Name":"Isla",
        "Surname":"Grace Tran",
        "Age": 64
    } 
    ,{
        "Name":"Arif",
        "Surname": "Rivas",
        "Age": 43
    }
    ,{
        "Name":"Zakaria",
        "Surname": "Whitehead",
        "Age": 82
    }
    ,{
        "Name":"Casper",
        "Surname": "Velasquez",
        "Age": 57
    }
    ,{
        "Name":"Caoimhe",
        "Surname": "Ali",
        "Age": 34
    }
    ,{
        "Name":"Viola",
        "Surname": "Shepherd",
        "Age": 18
    }
]

In [ ]:
myUsers.update({"FullName":"Müzeyyen Nur AKÇAY"})
myUsers

4. Soru
   
   Kullanıcının girdiği string unique karakterleri ekrana yazdırınız.

5. Soru

   Verilen iki set için aşağıdaki işlemleri yapınız.

   * İki sat arasındakı farkı ekrana yazdırınız.
   * İki set içerisinde ortak olanları ekrana yazdırınız.
   * İki seti birleştirip ekrana yazdırınız.
   * İlk set içerisinde olmayıp iki set içerisinde olan değerleri ekrana yazdırınız.
   * İkinci set içerisinde olmayıp ilk set içerisinde olan değerleri ekrana yazdırınız.


   set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
   
   set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

In [1]:
# İki set arasındakı farkı ekrana yazdırınız.
set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

set3 = set1 - set2
set3

{2, 3, 4, False, True, 'e', 'i', 't'}

In [2]:
# İki set içerisinde ortak olanları ekrana yazdırınız.
set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

set3 = set1 & set2
set3

{'s'}

In [3]:
# İki seti birleştirip ekrana yazdırınız.
set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

set3 = set1 | set2
set3

{2,
 3,
 4,
 6,
 7,
 8,
 9,
 False,
 None,
 True,
 'a',
 'b',
 'e',
 'i',
 'l',
 'r',
 's',
 't'}

In [4]:
# İlk set içerisinde olmayıp iki set içerisinde olan değerleri ekrana yazdırınız.
set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

set3 = set1 - set2
set1

{2, 3, 4, False, True, 'e', 'i', 's', 't'}

In [5]:
# İkinci set içerisinde olmayıp ilk set içerisinde olan değerleri ekrana yazdırınız.
set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}
set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

set3 = set1 - set2
set2

{6, 7, 8, 9, None, 'a', 'b', 'l', 'r', 's'}

6. Soru

   Kullanıcıdan alınan string ifadedeki karakterlerin kaç kere tekrar ettiğini tutan dictionary oluşturunuz.

   Örnek: {'s': 3, 'r': 1, 'e': 1, 'l': 1, 'b': 1, 't': 1, 'a': 1, 'i': 1}