**1.Soru**

   Örnek olarak verilen example.txt dosyasını

* Read
* Append
* Write

  modlarında açınız

In [46]:
#Read
f = open("../womenintech_uygulama_seanslari/files/example.txt", "r")
print(f.read())

Nur
Enes
Ayse
Duygu
Beyza
Emre
Aysel
Nihan
Menekse

In [ ]:
#UYGULAMA SEANS ÇÖZÜM

with open("example.txt", "a") as f:
    f.write("merhaba")


with open("example.txt", "r") as f:
    print(f.read())

with open("example.txt", "w") as f:
    f.write("merhaba")

with open("example.txt", "r") as f:
    print(f.read())

In [1]:
#Benim Çözümlerim
f = open("../womenintech_uygulama_seanslari/files/example.txt", "a")
f.write("Ayhan")
f.close()

In [11]:
#Write

f = open("../womenintech_uygulama_seanslari/files/example.txt", "w")
f.write("Nur\n")
f.write("Enes\n")
f.write("Ayse\n")
f.write("Duygu\n")
f.write("Beyza\n")
f.write("Emre\n")
f.close()

**2.Soru**
   
   Kullanıcıdan ad ve soyad değerlerini alıp, bu değerleri example.txt dosyasına yazdırınız.

In [6]:
name = input("Adı Girin: ")
surname = input("Soyadı Girin: ")
with open("example.txt", "a") as f:
    f.write(name + " " + surname + " ")

with open("example.txt", "r") as f:
    print(f.read())

nur akçay

**3.Soru**
   
   Kullanıcıdan yaş değerini alıp bu değeri example.txt dosyasına, dosyadaki verileri silmeden yazınız.

In [10]:
yas = input("Yaşı Girin: ")

with open("example.txt", "a") as f:
    f.write(yas)

with open("example.txt", "r") as f:
    print(f.read())

nur akçay nur akçay 23 23

**4.Soru**

   example.txt dosyasının ilk 5 satırını okuyup ekrana yazdırınız.

In [14]:
with open("example.txt", "r") as f:
    for i in range(5):
        print(f.readline())

nur akçay nur akçay 23 23

In [1]:
with open("example.txt", "r") as f:
    lines = f.readlines()
    for i in lines:
        print(i)

nur akçay nur akçay 23 23

In [2]:
with open("example.txt", "r") as f:
    lines = f.readlines()
    for i in lines[0:5]:
        print(i)

nur akçay nur akçay 23 23

In [ ]:
with open("example.txt", "r") as f:
    lines = f.readlines()
    for i in lines:
        print(lines[i])

**5.Soru**

tempData.txt dosyasındaki tüm satırları

{"Name" : "", "Surname" : "", "Gender" : "", "Age" : "", "Salary" : "", "Company" : "", "Department" : "", "Country" : "" }

tipindeki bir dictionary içerisine atıp sonrasında bunları bir listede toplayınız. Oluşturduğunuz liste üzerinde aşağıdaki işlemleri yapınız.

* Sorun çıkarmaması için her satırdaki '\n' karakterini '' ile replace ediniz. (line.replace('\n',''))
* Adı 'A' ile başlayanları ekrana yazdırınız.
* Adı 'A' ile soyadı ise 'S' ile başlayanları ekrana yazdırınız.
* Yaşı 30'dan büyük olanları ekrana yazdırınız.
* Yaşı 40'tan büyük ve 50'den küçük olanları ekrana yazdırınız.
* 'Research and Development' departmanında çalışanları ekrana yazdırınız.
* 'India'da yaşayanları ekrana yazdırınız.
* 'San Marino'da yaşayıp 'Sales' departmanında çalışanları ekrana yazdırınız.
* 'Sales' departmanında çalışıp maaşı 30000'den yüksek olanları ekrana yazdırınız.
* 'Apple Inc.' şirketinde çalışıp cinsiyeti kadın olanları ekrana yazdırınız.
* 'Apple Inc.' şirketinde çalışıp maaşı 30000'den az olanları ekrana yazdırınız.
* 'Sales' departmanında çalışanların oranını ekrana yazdırınız.
* 'IT' departmanında çalışanların oranını yazdırınız.
* 'IT' departmanında çalışan ve cinsiyeti kadın olanların oranını ekrana yazdırınız.
* 'IT' departmanında çalışan ve cinsiyeti kadın olanların, 'IT' departmanında çalışan ve cinsiyeti erkek olaranlara oranını ekrana yazdırınız.
* 'IT' departmanında çalışanların ortalama maaşını yazdırınız.
* 'Sales' departmanında çalışanların ortalama yaşını yazdırınız.

In [ ]:
with open("./files/tempData.txt", "r") as f:
    print(f.read())
    f.write("A")